<header class="header">
    <div class="container">
        <img src="../img/logo.png" alt="logo" class="header__img">
        <h1 class="header__text">FIND BEST EVENTS AROUND THE WORLD</h1>
        <form class="header__form">
            <input type="text" class="form__search" placeholder="Start searching">
            <svg class="form__svgsearch"><use href=""></use></svg>
            <button type="button" class="form__choose">Choose country</button>
            <svg class="form__svgchoose"><use href="./img/polygon-choose.svg"></use></svg>
        </form>
    </div>
</header>